@charset "utf-8";

html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

@media (max-width: 480px) {

    .esri-view-height-medium .esri-expand .esri-widget--panel,
    .esri-view-height-medium .esri-expand .esri-widget--panel-height-only,
    .esri-view-height-medium .esri-ui-corner .esri-component.esri-widget--panel,
    .esri-view-height-medium .esri-ui-corner .esri-component.esri-widget--panel-height-only,
    .esri-view-height-small .esri-expand .esri-widget--panel,
    .esri-view-height-small .esri-expand .esri-widget--panel-height-only,
    .esri-view-height-small .esri-ui-corner .esri-component.esri-widget--panel,
    .esri-view-height-small .esri-ui-corner .esri-component.esri-widget--panel-height-only {
        max-height: 15rem;
        max-width: 60%;
        background-color: #ffffffed;
        color: #000;
    }
}